.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 618px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .overlap {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    backdrop-filter: blur(4px) brightness(100%);
    background-color: #ffffff;
    border: 4px solid;
    border-color: #0033a0;
    border-radius: 20px;
    height: 500px;
    left: 735px;
    position: absolute;
    top: 59px;
    width: 650px;
  }
  
  .desktop .autohaus-kunath-ihre {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    width: 593px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .desktop .span {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
  }
  
  .desktop .text-wrapper-2 {
    text-decoration: underline;
  }
  
  .desktop .overlap-group {
    background-image: url(./20250427-122747.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    left: 56px;
    position: absolute;
    top: 59px;
    width: 650px;
  }
  
  .desktop .rectangle {
    background-color: #ffffff;
    border-radius: 20px;
    height: 60px;
    left: 80px;
    position: absolute;
    top: 418px;
    width: 490px;
  }
  
  .desktop .p {
    color: #0033a0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 435px;
    width: 446px;
  }